@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

body {
  margin: 0;
}

@font-face {
  font-family: "SF-Compact-Medium";
  src: local("SF-Compact-Medium"),
    url("/fonts/SFCompact/SF-Compact-Text-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Compact-Semibold";
  src: local("SF-Compact-Semibold"),
    url("/fonts/SFCompact/SF-Compact-Text-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Compact-Light";
  src: local("SF-Compact-Light"),
    url("/fonts/SFCompact/SF-Compact-Text-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Compact-Thin";
  src: local("SF-Compact-Thin"),
    url("/fonts/SFCompact/SF-Compact-Text-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Compact-Bold";
  src: local("SF-Compact-Bold"),
    url("/fonts/SFCompact/SF-Compact-Text-Bold.ttf") format("truetype");
}


.SF-Compact-Medium {
  font-family: "SF-Compact-Medium";
}

.SF-Compact-Semibold {
  font-family: "SF-Compact-Semibold";
}

.SF-Compact-Light {
  font-family: "SF-Compact-Light";
}

.SF-Compact-Thin {
  font-family: "SF-Compact-Thin";
}

.SF-Compact-Bold {
  font-family: "SF-Compact-Bold";
}


html, body, #root, .relative {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Adjust based on your layout */
  padding: 20px;
}

.municipality-details {
  text-align: center;
  margin-bottom: 20px;
}

.chart-container {
  width: 100%;
  height: auto; /* Adjust based on your needs */
}
